@*
    Display Users Summary info:  # trips, total #miles logged, badges based on miles logged
*@
@{
}
@model BikerInfo

<h> Total Miles: @Model.TotalMiles</h>
<h3>Trips</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Trip Date
            </th>
            <th>
                Trip Name
            </th>
            <th>
                Trip Miles
            </th>
            <th>
                Trip Rating
            </th>

            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var trip in Model.Trips)
            {
                <tr>
                    <td>
                        <span>@trip.TripDate</span>
                    </td>
                    <td>
                        <span>@trip.TripName</span>
                    </td>
                    <td>
                        <span>@trip.TripMiles</span>
                    </td>
                    <td>
                        <span>@trip.TripRating</span>

                    </td>

                    <td>
                        <a asp-controller="Trip" asp-action="Delete" asp-route-id="@trip.Id">Delete</a>
                        <a asp-controller="Trip" asp-action="Details" asp-route-id="@trip.Id">Add Stops</a>
                        <a asp-controller="Trip" asp-action="Edit" asp-route-id="@trip.Id">Edit Trip Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>Badges</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Badge Name
            </th>
            <th>
                Badge Description
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var badge in Model.Badges)
            {
                <tr>
                    <td>

                        <span>@badge.Name</span>

                    </td>
                    <td>


                        <span>@badge.Desc</span>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<div>
    <a asp-controller="Welcome" asp-action="Index">Plan A Trip</a>
</div>