@model BikesNBeersMVC.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripMiles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripMiles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikerInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikerInfo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
