
@{
  ViewData["Title"] = "index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Stop>

<h3>Breweries and ratings available within max# miles of your starting location</h3>
<form action="/BrewViewTwo/selectedBrewView" method="post" id="form">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Rating
        </th>
        <th>
          Address
        </th>
        <th>
          Image
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if (Model != null)
      {
          foreach (var stop in Model)
          {
          <tr>
              <td>
                  @Html.HiddenFor(x => stop.Photo)
                  
                  @Html.HiddenFor(x => stop.Name)
              </td>
            <td>

              @Html.HiddenFor(x => stop.Rating)
            </td>
            <td>
              
              @Html.HiddenFor(x => stop.Address)
            </td>
            <td>
                <img src="@Url.Content(stop.Photo)" alt="@stop.Name" />
               
            </td>
            <td>
                @Html.DropDownListFor(x => x, new SelectList(
                 new List<Object>
                 {
                    new SelectListItem { Text = "Choice", Value = "0"},
                    new SelectListItem { Text = "Selected", Value = "1"}
                }))




                @*@Html.DropDownListFor(x => Model.Breweries.Results[i].selected, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Choice", Value = "0" },
                    new SelectListItem{ Text="Selected", Value = "1" }
                 })*@
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12 float-right">
      <button type="submit" value="Save" style="float:right" class="btn btn-success">Select</button>
    </div>
  </div>
</form>
