
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ViewModel

<h3>Breweries and ratings available within max# miles of your starting location</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Rating
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Breweries.Results)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Rating</td>
            <td>@item.Vicinity</td>
            <td>@Html.ActionLink(
               "Select",
               "Details",
               "Selection",
               item,
               null)</td>

            @*<td>@item.place_id</td>
        <td>@string.Join(", ", @item.types)</td>*@
        </tr>
        }
    </tbody>
</table>
