@{
    ViewData["Title"] = "Home Page";
}
@model ViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>
        Hotels List
    </h1>
    <br />
    @foreach (var response in Model.HotelResponses.results)
    {
        @response.name;
        <br />
        @response.rating;
        <br />
    }
    <h1>
        Breweries List
    </h1>
    <br />
    @foreach (var response in Model.Breweries.Results)
    {
        @response.Name;
        <br />

        @response.Rating;
        <br />
    }
    @{int a = 0;}
<div>
    @foreach (var leg in Model.Routes[0].legs)
    {
       <b>Starting Address: </b> @leg.start_address<br />

        @foreach (var step in leg.steps)
        {
            <div>
                @Html.Raw(step.html_instructions) in 
                @Html.Raw(step.distance.text)
            </div>
            
        }
        <b>Destination: </b> @leg.end_address
    }

</div>
</div>
