@model Trip

@{
    ViewData["Title"] = "Selected Stop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Trip Summary</h1>
<h6>@Model.TripDate</h6>
<h6>@Model.TripMiles </h6>
<h6>@Model.TripRating</h6>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Stop Name
            </th>
            <th>
                Stop Rating
            </th>
            <th>
                Stop Address
            </th>
            <th>
                Stop Image
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var stop in Model.Stops)
        {
            <tr>
                <td>@stop.Name</td>
                <td>@stop.Rating</td>
                <td>@stop.Address</td>
                <td>
                    <img src="@Url.Content(stop.Photo)" alt="@stop.Name" />
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="MapView" asp-action="Index">Go To Map</a>



<h6>Do you want to add another stop stop?</h6>
<a asp-controller="Stops" asp-action="Index" asp-route-tripId="@Model.Id"> YES </a>

<a asp-controller="UserView" asp-action="Index"> NO </a>
